.categorie {
    width: 100%;
    height: 66vh;
    overflow: hidden;
    .h-6 {
        width: 88%;
        height: 30px;
        margin: auto;
        h6 {
            font-size: 15px;
            text-align: left;
        }
    }
    .container-box {
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .box1 {
            width: 19%;
            height: 95%;
            .child-box1 {
                width: 100%;
                height: 35vh;
                background-color: wh;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                img {
                    width: 94%;
                    height: 93%;
                    border-radius: 30px;
                    transition: 0.2s ease-in;
                    cursor: pointer;
                    &:hover {
                        margin-bottom: 5px;
                    }
                }
            }
            h3 {
                padding-left: 12px;
                text-align: left;
                height: 35px;
                font-weight: bold;
                a {
                    text-decoration: none;
                    color: rgb(63, 63, 63);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            p {
                padding-left: 12px;

                padding-top: 10px;
                text-align: left;
                a {
                    text-decoration: none;
                    color: rgb(63, 63, 63);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}